.app-download {
  padding-top: 40px;
}
.app-download__wrapper {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: space-around;
}
.app-download__btn {
  font-weight: 600;
  color: @white-color;
  text-decoration: none;
  border: 3px solid @white-color;
  border-radius: 25px;
  padding: 10px 35px 10px 35px;
}
.app-download__description {
  padding-bottom: 20px;
  color: @white-color;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 700px) {
  .app-download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
