.app-download {
  background-color: #1d2631;
  padding: 0 20px 0 20px;
}
.app-download__btn {
  font-weight: 600;
  color: @white-color;
  text-decoration: none;
  border: 3px solid @white-color;
}
.app-download__description {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
}
