.features {
  text-align: center;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: @content-color;
  padding-bottom: 320px;
}
.features__item-title {
  font-weight: 600;
  line-height: 24px;
}
.features__item-content {
  font-size: 14px;
  line-height: 24px;
}
