.form-main__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
.form-main__group {
  padding: 0;
  margin: 0;
  border: none;
}
.form-main__legend {
  font-size: 14px;
  line-height: 18px;
  color: @marking-color;
  text-transform: uppercase;
}
.form-main__description {
  text-align: center;
  font-size: 14px;
}
.form-main__user-label {
  font-size: 14px;
  text-transform: uppercase;
  color: @marking-color;
}
.form-main__textarea {
  width: 280px;
}
.form-main__btn {
  padding: 10px 47px 10px 47px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white-color;
  background: @form-button;
}
.form-main__required {
  font-size: 14px;
  text-transform: uppercase;
}
.form-main__required sup {
  color: @marking-color;
}
.form-main__popup {
  display: none;
  line-height: 24px;
  button {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: @white-color;
    background: @form-button;
  }
}
.form-main__popup span {
  font-weight: 600;
}
.form-main__popup p {
  font-size: 14px;
}
.form-main__request {
  display: none;
  line-height: 24px;
  button {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: @white-color;
    background: @form-button;
  }
}
.form-main__request span {
  font-weight: 600;
}
.form-main__request p {
  font-size: 14px;
}
@media (max-width: 320px) {
.form-main__wrapper:nth-child(2) {
  background: @content-color;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: @content-color;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: @content-color;
  }
}

.form-main__wrapper:nth-child(4) {
  position: relative;
  background-color: @content-color;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: @content-color;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: @content-color;
  }
}
}
@media (min-width: 700px) {
  .form-main__container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding: 0 40px 0 40px;
  }
  .form-main__wrapper:nth-child(1) {
    order: -3;
    width: 500px;
  }
  .form-main__wrapper:nth-child(4) {
    order: -2;
  }
  .form-main__wrapper:nth-child(3) {
    order: -1;
  }
  .form-main__group {
    border: 2px solid @price-border;
  }
  .form-main__textarea {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .form-main__container {
    width: 1200px;
    padding: 0 60px 0 60px;
  }
  .form-main__wrapper:nth-child(1) {
    width: 50%;
  }
  .form-main__wrapper:nth-child(4) {
    width: 50%;
  }
  .form-main__wrapper:nth-child(3) {
    width: 100%;
  }
  .form-main__wrapper:nth-child(2){
    width: 100%;
  }
  .form-main__textarea {
    width: 820px;
  }
}
