.form-main__wrapper:nth-child(2) {
  background-color: @content-color;
}

.form-main__wrapper:nth-child(4) {
  background-color: @content-color;
}

.form-main__description {
  font-size: 14px;
}
.form-main__user-label {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: @marking-color;
}
.form-main__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @marking-color;
}
.form-main__btn {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
}
.form-main__required {
  font-size: 14px;
  text-transform: uppercase;
}
.form-main__required sup {
  color: @marking-color;
}
.form-main__popup {
  line-height: 24px;
}
.form-main__popup button {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
}
.form-main__popup span {
  font-family: opensansbold, Arial, sans-serif;
}
.form-main__popup p {
  font-size: 14px;
}
.form-main__request {
  line-height: 24px;
}
.form-main__request span {
  font-family: opensansbold, Arial, sans-serif;
}
.form-main__request p {
  font-size: 14px;
}
.form-main__request button {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
}
