.header {
  position: relative;
  color: @white-color;
  background:
    url(../img/iphone-hand-mobile@1x.png) no-repeat,
    url(../img/bg-back-mobile@1x.jpg);
  background-position: 50%  100%, 0 0;
}
.header__logo-title {
  margin: 0;
}
.header__title {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}
.header__logo {
  padding: 20px 20px 20px 0;
  background: @header-dark;
}
.header__wrapper:first-child {
  margin-bottom: 200px;
}
.header__wrapper:last-child {
  background-color: @basic-color;
}
.header__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .header {
    background-position: 50%  85%, 0 0;
  }
  .header__wrapper {
    width: 700px;
  }
  .header__wrapper:last-child {
    background: none;
  }
  .header__logo {
    background: @basic-color;
  }
  .header__title {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (min-width: 1200px){
  .header__wrapper {
    display: flex;
    width: 1200px;
  }
  .header__wrapper:first-child {
    background: @header-dark;
    padding: 0;
  }
}

