.header {
  color: white;
  background: url(../img/bg-back-mobile@1x.jpg);
  font-family: opensans, Arial, sans-serif;
}
.header-title {
  font-family: opensanslight, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.header__wrapper {
  background: rgba(0, 0, 0, 0.3);
  padding: 0 6.25% 0 6.25%;
}
