.photo-item {
  background-color: @content-color;
}
.photo-item__author {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.photo-item__time {
  font-family: opensanslight, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.photo-item__comment {
  font-size: 14px;
  line-height: 24px;
}
.photo-item__like {
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d22856;
}
