.photo-item {
  width: 280px;
}
.photo-item__about {
  background-color: @content-color;
}
.photo-item__author {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.photo-item__time {
  font-weight: 100;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.photo-item__comment {
  font-size: 14px;
  line-height: 24px;
}
.photo-item__like {
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: @brand-color;
}
.photo-item__frame {
  vertical-align: bottom;
}

