.photo-main__introduction {
  font-size: 14px;
}
.photo-main__send {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  border: 3px solid @marking-color;
}
.photo-main__abord {
  font-family: opensansbold, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  border: 3px solid @content-color;
}
