.price {
  background-color: @content-color;
}
.price__title {
  font-family: opensansbold, Arial, sans-serif;
  text-transform: uppercase;
}
.price__item {
  background: @basic-color;
  color: #ffffff;
}
.price__worth {
  font-family: opensanslight, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.price__grid {
  background: #ffffff;
  font-size: 14px;
}
