.social li {
  list-style: none;
  .social-icons
}
.social__twitter {
  background: url(../img/icon-twitter.svg) no-repeat;
  .social-icons
}
.social__facebook {
  background: url(../img/icon-facebook.svg) no-repeat;
  .social-icons
}
.social__youtube {
  background: url(../img/icon-youtube.svg) no-repeat;
  .social-icons
}
